body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
.epi2melabs-wfpage-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.epi2melabs-wfpage-widget h1,
.epi2melabs-wfpage-widget h2,
.epi2melabs-wfpage-widget h3,
.epi2melabs-wfpage-widget h4,
.epi2melabs-wfpage-widget h5,
.epi2melabs-wfpage-widget p,
.epi2melabs-wfpage-widget a,
.epi2melabs-wfpage-widget div,
.epi2melabs-wfpage-widget input,
.epi2melabs-wfpage-widget span,
.epi2melabs-wfpage-widget li,
.epi2melabs-wfpage-widget label,
.epi2melabs-wfpage-widget button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.epi2melabs-wfpage-widget h1 {
    font-weight: 500;
    font-size: 2.2em;
}

.epi2melabs-wfpage-widget h2 {
    font-weight: 400;
    font-size: 20px;
}

.epi2melabs-wfpage-widget h2.large {
    font-size: 24px;
}

.epi2melabs-wfpage-widget h3 {
    font-weight: 500;
    font-size: 18px;
}

.epi2melabs-wfpage-widget h3.large {
    font-size: 22px;
}

.epi2melabs-wfpage-widget h4 {
    font-weight: 400;
    font-size: 1em;
}

.epi2melabs-wfpage-widget h5 {
    font-weight: 400;
    font-size: 0.875em;
}

.epi2melabs-wfpage-widget h6 {
    font-weight: 400;
    font-size: 0.85em;
}

.epi2melabs-wfpage-widget p {
    font-weight: 300;
    font-size: 0.85em;
}

.epi2melabs-wfpage-widget p.large {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.7em;
}

.epi2melabs-wfpage-widget p.monospace {
    font-size: 12px;
    font-family: monospace;
}

.epi2melabs-wfpage-widget p.preheader {
    font-weight: 500;
    font-size: 13px;
    line-height: 1em;
}

.epi2melabs-wfpage-widget {
    overflow-y: auto;
    background-color: white;
}