table {
    border-collapse: collapse;

}

thead{
  width: 100px;
  border: none;
  background-color: rgb(240,240,240);
  border-color:rgb(200,200,200);
}

th{
    width:150px;
    border: 1px solid rgb(100,100,100);;
}


td {
    width:150px;
    border:none;
    padding-left:50px;
    padding-right:50px;
    border-right: solid 1px #f00; 
     border-left: solid 1px #f00;
}